<div class="row g-3">
  <div class="col-md-4"><div class="card"><div class="card-body">Conexión del servidor</div></div></div>
  <div class="col-md-4"><div class="card"><div class="card-body">Parámetros conexión PCs</div></div></div>
  <div class="col-md-4"><div class="card"><div class="card-body">Vinculación</div></div></div>
</div>